.content
  position: absolute
  top: 44px
  bottom: 44px
  overflow-y: scroll
  width: 100%

  .list
    .item-opts
      font-size: 16px
      text-align: right
      .icon.ion-share
        font-size: 19px

  .setting-list
    .item
      a
        color: #666

    li
      a.item
        color: #666