<div class="list-container" ng-controller="createController">
    <form class="create-form">
        <label class="item item-input textarea-input">
            <textarea rows="6" name="content" placeholder="今天发生了什么？"></textarea>
        </label>
        <label class="item item-input add-img">
            <button class="button button-light">
                <i class="icon ion-ios-plus-empty"></i>
            </button>
        </label>
        <label class="item item-input map-location col-10" ng-click="getLocation()">
            <span class="input-label">
                 <i class="icon ion-ios-location-outline"></i>
            </span>
        </label>
        <label class="item item-input map-value col-90">
            {{location}}
        </label>
        <label class="item item-input">
            <span class="input-label">纪念日</span>
            <ion-checkbox></ion-checkbox>
        </label>
        <label class="item share-item">
            <a><i class="fa fa-wechat"></i></a>
            <a><i class="fa fa-qq"></i></a>
            <a><i class="fa fa-weibo"></i></a>
        </label>
    </form>
</div>