<div class="list card" ng-controller="ListController">
    <div class="item item-avatar">
        <img src="../images/pig.jpg">
        <h2>Yuan</h2>
        <p>November 05, 1955</p>
    </div>

    <div class="item item-body">
        <img class="full-image" src="../images/krisQ.jpg">
        <p>菜鸟教程 -- 学的不仅是技术，更新梦想！</p>
        <p>
            <a href="#" class="subdued">1 赞</a>
            <a href="#" class="subdued">5 评论</a>
        </p>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-only">
        <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
        </a>
        <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
        </a>
        <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
        </a>
    </div>
</div>
