<div class="list-container" ng-controller="ListController">
    <div class="list card"
         ng-repeat="list in lists">
        <div class="item item-avatar">
            <img ng-src="{{list.creatorAvatarUrl}}">
            <h2>{{list.creator}}</h2>
            <p>{{list.date}}</p>
        </div>

        <div class="item item-body">
            <img ng-if="list.imagesUrl" class="full-image" ng-src="{{list.imagesUrl}}">
            <p>{{list.comments}}</p>
            <p class="item-opts">
                <!--<a class="subdued"-->
                   <!--on-tap="markLike($event)"-->
                   <!--on-hold="showWhoLike($event)">-->
                    <!--<i class="icon ion-ios-heart-outline"></i>-->
                <!--</a>-->
                <!--<a href="#" class="subdued">-->
                    <!--<i class="icon ion-ios-chatboxes-outline"></i>-->
                <!--</a>-->
                <a class="subdued" ng-click="share()">
                    <i class="icon ion-android-share-alt"></i>
                </a>
            </p>
        </div>
    </div>
</div>