<div class="list-container" ng-controller="SettingController">
    <ul class="list setting-list">
        <li>
            <a class="item item-icon-left" href="#/setting/my/profile">
                <i class="icon ion-card"></i>
                个人资料
            </a>
        </li>
        <li>
            <a class="item item-icon-left" href="#/setting/mylove/profile">
                <i class="icon ion-person"></i>
                对方资料
            </a>
        </li>
        <li>
            <a class="item item-icon-left">
                <i class="icon ion-ios-alarm-outline"></i>
                纪念日提醒
            </a>
        </li>
        <li>
            <a class="item item-icon-left">
                <i class="icon ion-android-sync"></i>
                合并数据
            </a>
        </li>
        <li class="item item-icon-left item-toggle">
            <i class="icon ion-iphone"></i>
            开机自启
            <label class="toggle toggle-balanced">
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-icon-left item-toggle">
            <i class="icon ion-load-c"></i>
            极简模式
            <label class="toggle toggle-balanced">
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
    </ul>
</div>